<!DOCTYPE html>
<html>

<head>
    <title>Calculator</title>
</head>

<body>
    <h1>Калькулятор</h1>
    <form action="/" method="POST">
        <input type="number" name="num1" step="any"> <br>
        <input type="number" name="num2" step="any"> <br>
        <select name="operation">
            <option value="addition">Сложение</option>
            <option value="subtraction">Вычитание</option>
            <option value="multiplication">Умножение</option>
            <option value="division">Деление</option>
        </select> <br>
        <input type="submit" value="Вычислить">
    </form>
</body>

</html>